<p id="notice"><%= notice %></p>

<h1>Top Music</h1>
<h4><%= link_to 'New Top music', new_top_music_path %></h4>

<section class="wapper">
  <% @top_musics.each do |top| %>
  <section class="topmus">
    <img src="<%= top.picture %>" alt="">
    <section class="name"><h4><b><%= top.name %></b></h4></section>
    <section class="title"><h4><%= top.title %></h4></section>
    <section class="more">
     <%= link_to 'Show', top %> |
     <%= link_to 'Edit', edit_top_music_path(top) %> |
     <%= link_to 'Destroy', top, method: :delete, data: { confirm: 'Are you sure?' } %>
    </section>
  </section>
  <% end %>
</section> 
<br>



